{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1 class="text-center">{{ movie.title }}</h1>
<img class="w-100 mb-2" src="{{ movie.backdrop_url }}" alt="backdrop">
<a class="btn btn-primary mb-2" href="{% url 'movies:index' %}">back</a>
  {% comment %} <a class="btn btn-light m-0" href="{% url 'movies:like' movie.pk request.resolver_match.url_name %}"> {% endcomment %}
  <p class="card-text">
    {% if user in movie.like_users.all %}
    <i class="fas fa-heart like-button" style="color: crimson;" data-id="{{ movie.pk }}"></i>
    {% else %}
    <i class="far fa-heart like-button" style="color: black;" data-id="{{ movie.pk }}"></i>
    {% endif %}
    <span id="like-count-{{ movie.pk }}">{{ movie.like_users.all|length }}</span> 명이 이 글을 좋아합니다.
  </p>
<div class="bd-example col-4 p-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" height="30px">
    <ol class="carousel-indicators">
      {% for actor in movie.actors %}
      {% if forloop.first %}
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      {% else %}
      <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}"></li>
      {% endif %}
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for actor, value in movie.actors.items %}
      {% if forloop.first %}
      <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
          {% endif %}
          <img src="{{ value.1 }}" class="d-block w-100" alt="actor_image">
          <div class="carousel-caption">
            <h5>{{ actor }}</h5>
            <p>{{ value.0 }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <hr>
  {% for rating in ratings %}
  <p>{{ rating.score }} | {{ rating.comment }} | <a
      href="{% url 'accounts:profile' rating.user %}">{{ rating.user }}</a></p>
  <form action="{% url 'movies:delete_rating' movie.pk rating.pk%}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <a href="{% url 'movies:update_rating' movie.pk rating.pk %}">Edit</a>
  <hr>
  {% endfor %}

  <form action="{% url 'movies:rating' movie.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    {% buttons submit='OK'%}
    {% endbuttons %}
    {% endbuttons %}
  </form>
  <script>
    const likeButtons = document.querySelectorAll('.like-button')
    likeButtons.forEach(button => {
      button.addEventListener('click', function (event) {
        const movieId = event.target.dataset.id

        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        axios.post(`/movies/${movieId}/like/`)
          .then(response => {
            console.log(response)
            document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
            if (response.data.liked) {
              event.target.style.color = 'crimson'
            } else {
              event.target.style.color = 'black'
            }
          })
      })
    })
  </script>
  {% endblock %}
  {% block script %}
  {% endblock script %} 