{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h1 class="text-center text-white">영화 목록</h1>

<select onchange="if(this.value) location.href=(this.value);">
  <option value="#">장르 선택</option>
  {% for genre in genre_list %}
    {% if forloop.first %}
    <option value="{% url 'movies:genre_movie' genre %}">{{genre}}</option>
    {% else %}
    <option value="{% url 'movies:genre_movie' genre %}">{{genre}}</option>
    {% endif %}
  {% endfor %}
</select>

<div class="row mb-2">
  {% for movie in movies %}
  <div class="col-4 col-sm-3 col-lg-2 p-1">
    <a href="{% url 'movies:detail' movie.pk %}">
      <div class="card card-flip h-100" style="background-color: rgba( 255, 255, 255, 0 );">
        <div class="card-front text-white bg-dark" style="border-radius: 25px;">
          <img class="card-img-top" src="{{ movie.poster_url }}" alt="" style="border-radius: 25px;">
        </div>
        <div class="card-back bg-white" style="border-radius: 25px;">
          <div class="card-body">
            <b class="card-title">{{ movie.title }}</b><br>
            {% for genre in movie.genres.all %}
            <span class="badge badge-light">{{ genre }}</span>
            {% endfor %}
            <br>
            <span class="badge badge-info">{{ movie.running_time }}</span><br>
            <span class="badge badge-dark">{{ movie.rate }}</span> <br>
            <span class="badge badge-dark">{{ movie.audience|intcomma }}명</span>
            {{ movie.rating }}
            <br>
            <br>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>


{% if request.user.like_movies.all.count %}
<h2 class="text-white">{{ last_like_movie }}에 좋아요를 하셨군요. 이런 영화는 어떤가요?</h2>
<div class="row justify-content-center text-center">
  {% for recommend_movie in recommend_movies %}
  <div class="col-sm-4">
    <a href="{% url 'movies:detail' recommend_movie.pk %}">
      <div class="card card-flip h-100" style="background-color: rgba( 255, 255, 255, 0 );">
        <div class="card-front text-white bg-dark" style="border-radius: 25px;">
          <img class="card-img-top" style="border-radius: 25px;" src="{{ recommend_movie.poster_url }}" alt="">
        </div>
        <div class="card-back bg-white scroll" style="overflow-y : scroll; border-radius: 25px;">
          <div class="card-body">
            <b class="card-title">{{ recommend_movie.title }}</b>
            <p class="card-text text-dark">{{ recommend_movie.summary }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
{% block script %}
<script>

</script>

{% endblock script %}