{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">영화 목록</h1>
<div class="row">
  {% for movie in movies %}
  <div class="boxart-size-16x9 boxart-container col-3">
    <br>
    <a href="{% url 'movies:detail' movie.pk %}"><img class="mr-auto" src="{{ movie.poster_url }}" alt=""
        style="width: 130px; height: 200px;"></a>
    {{ movie.title }}<br>
    {{ movie.title_en }}
    <br>
    {{ movie.rate }}
    <br>
    {{ movie.running_time }}
    <br>
    {{ movie.release_date }}
    <br>
    {% for genre in movie.genres.all %}
    | {{ genre }}
    {% endfor %}
    |
    <p class="card-text">
      <a href="{% url 'movies:like' movie.pk request.resolver_match.url_name %}">
        {% if user in movie.like_users.all %}
        <i class="fas fa-heart" style="color: crimson;"></i>
        {% else %}
        <i class="far fa-heart" style="color: black;"></i>
        {% endif %}
      </a>
      {{ movie.like_users.all.count }}명이 이 글을 좋아합니다.
    </p>
  </div>
  <hr>
  {% endfor %}
</div>

{% endblock %}