{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100" style="position: fixed; z-index: 100;">
  {% if user.is_authenticated %}
  <a class="navbar-brand" href="{% url 'movies:index' %}">
    <i class="fas fa-crosshairs"></i> Movie Aim
  </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-center">
      <form action="{% url 'movies:search_movie' %}" method='POST' class="mt-1">
        {% csrf_token %}
        <input type="text" name="search">
        <input type="submit" value="검색">
      </form>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarNav">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_staff %}
          <li>
            <a class="nav-link m-0" href="{% url 'accounts:index' %}">유저관리</a>
          </li>
          <li>
            <a class="nav-link m-0" href="{% url 'movies:create_movie' %}">영화 정보 생성</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link m-0" href="{% url 'accounts:profile' user.username %}">{{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-0" href="{% url 'accounts:update_user' %}">회원정보 수정</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-0" href="{% url 'accounts:logout' %}">로그아웃</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    {% else %}
    <a class="navbar-brand" href="{% url 'movies:index' %}">
      <i class="fas fa-crosshairs"></i> Movie Aim
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="text-white nav-item" data-toggle="modal" data-target="#Login" style="cursor:pointer;">
            <p class="nav-link m-0">로그인</p>
          </li>
          <li class="nav-item">
            <a class="nav-link m-0" href="{% url 'accounts:signup' %}">회원가입</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
</nav>

<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="LoginLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LoginLabel">로그인</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'accounts:login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group"><label class="col-form-label" for="id_username">사용자 이름</label><input type="text"
              name="username" autofocus="" class="form-control" placeholder="사용자 이름" title="" required=""
              id="id_username"></div>
          <div class="form-group"><label class="col-form-label" for="id_password">비밀번호</label><input type="password"
              name="password" class="form-control" placeholder="비밀번호" title="" required="" id="id_password"></div>
          <button class="btn btn-primary w-100 mb-2" type="submit">Login</button>
        </form>
        <a class="btn btn-warning mb-2 w-100" href="{% provider_login_url "kakao" %}">KAKAO</a><br>
        <a class="btn btn-light text-dark mb-2 w-100" href="{% provider_login_url "github" %}">GITHUB</a><br>
        <a class="btn btn-success mb-2 w-100" href="{% provider_login_url "naver" %}">NAVER</a>
      </div>
    </div>
  </div>
</div>