{% extends 'base.html' %}
{% load socialaccount %}
{% load bootstrap4 %}

{% block content %}
<div class="p-5 col-6 m-auto" style="border-radius: 25px; background-color: rgba( 255, 255, 255, 0 );">
  <h3 class="text-white">로그인</h3>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form label_class="col-form-label text-white" %}
    <br><br>
    {% bootstrap_button "Login" button_type="submit" button_class="btn btn-primary w-100 mb-2" %}
  </form>
  <a class="btn btn-warning mb-2 w-100" href="{% provider_login_url "kakao" %}">KAKAO</a><br>
  <a class="btn btn-light text-dark mb-2 w-100" href="{% provider_login_url "github" %}">GITHUB</a><br>
  <a class="btn btn-success mb-2 w-100"  href="{% provider_login_url "naver" %}">NAVER</a>
</div>

{% endblock  %}