{% extends 'base.html' %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">{{ person.username }}</h1>
  {% with followers=person.followers.all followings=person.followings.all %}
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet.</p>
  <p class="card-text">
  {% if user != person %}
    {% if user in person.followers.all %}
      <input class="btn btn-link btn-lg follow-button" style="color: black;" data-id="{{ person.pk }}" value="unfollow"></input>
    {% else %}
      <input class="btn btn-link btn-lg follow-button" style="color: blue;" data-id="{{ person.pk }}" value="follow"></input>
    {% endif %}
  {% endif %}
  <br>
  팔로워: <span id="follow-count-{{ person.pk }}">
  {{ person.followers.all|length }}</span>/ 팔로잉: {{ person.followings.all|length }}
  </span>
</p>

  {% endwith %}
  
</div>
{% endblock  %}

  {% block script %}
  <script>
    const followButtons = document.querySelectorAll('.follow-button')
    followButtons.forEach(button => {
      button.addEventListener('click', function (event) {
        const userId = event.target.dataset.id

        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        axios.post(`/accounts/${userId}/follow/`)
          .then(response => {
            document.querySelector(`#follow-count-${userId}`).innerText = response.data.count
            if (response.data.followed) {
              event.target.style.color = 'black'
              event.target.value = 'unfollow'
              console.log(event.target)
            } else {
              event.target.style.color = 'blue'
              event.target.value = 'follow'
              console.log(event.target)
            }
          })
      })
    })
  </script>
  {% endblock script %} 